<%= form_for @profile, url: profiles_path, html: { multipart: true } do |f| %>

  <div><%= f.label :bio %><br />
  <%= f.text_area :bio, rows: 10%></div>

  <div><%= f.label :link %><br />
  <%= f.text_field :link %></div><br>


  <div><%= f.submit "Create Profile"%></div>
<% end %>
