
<div class="container-fluid well span6">
  <div class="row-fluid">


        <div class="span8">
            Email: <%= current_user.email %><br>
            Phone: <%= current_user.phone%><br>
            Address:
            <br>
        </div>

        <div class="span2">
            <div class="btn-group">
                <%= link_to 'Edit account & password settings', edit_user_registration_path, class: 'btn btn-sm btn-warning'%>
            </div>
        </div>
</div>
</div>

<h2>Your Public Profile Page:</h2>


<%= link_to image_tag current_user.avatar.url(:thumb), class: "img-circle"%>
<%= link_to current_user.first_name%><br>

Bio:<%= @profile.bio %><br>
Link: <%= @profile.link %><br>
<!-- if user Role = host -->
Pictures:
<% @photos.each do |photo| %>
    <h6><%= photo.description %></h6>
    <%= link_to profile_photo_path(@profile, photo) do %>
      <%= image_tag photo.image.url(:thumb)%><br>
    <% end %>
    <%= time_ago_in_words(photo.created_at) %> ago<br><br>
<% end %><br>

<%= link_to 'Edit Profile Page', edit_profile_path(current_user), class: 'btn btn-sm btn-warning'%> &nbsp&nbsp<%= link_to 'Add Venue Photos', new_profile_photo_path(@profile), class: 'btn btn-sm btn-success'%>
