<h2>Your Profile</h2><br>
<div class= "well">
  <h5><%= current_user.first_name %> <%= current_user.last_name %></h5><br>
    <div>
      <ul>
        <li>contact: <%= current_user.email %></li>
        <li>phone:   <%=current_user.phone%></li>
        <li>bio:     <%=current_user.bio%></li>
      </ul>
    </div>
</div>
  <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-primary'%>
