
<h5><%= @user.first_name %> <%= @user.last_name %></h5><br>
  <%= image_tag @user.avatar.url(:medium) %>
  <ul>
    <li>contact: <%= @user.email %></li>
    <li>phone:   <%= @user.phone%></li>
    <li>bio:     <%= @user.bio%></li>
  </ul>
