<!-- <h2>Sign up</h2> -->

<%= form_for(@user_sign_up, url: registrations_create_path, html: { multipart: true }) do |f| %>

  <!-- insert radio buttons for  artist || host role?  -->

  <div class ="well">
      <p>Are you an artist or a home/venue host?</p>
        <% @registerable_roles.each do |role| %>
          <%= f.radio_button :role, role[0] %>
          <%= f.label :role, "#{role[0]}" %>
          <br />
        <% end %>

  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone%>
  </div>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip %>
  </div>

  <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div><br>
<% end %>

<!--  render "devise/shared/links"  -->
