<%= form_for [event] do |f| %>

  <%= f.label :Selected_host_info_and_avatar_here %><br><br>

  <%= f.label :Event_category %>
  <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Select a category"}, {class: "form-control"} %>

  <div>
    <p class= "small">
      Not finding what you're looking for? <%= link_to "Create a new category", new_category_path%><br>
    </p>
  </div>

  <%= f.label :date %>
  <%= f.date_field :date, class: 'form-control' %><br>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: "Enter event title" %><br>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter event description" %><br>

  <%= f.label :ticket_link %>  <!--if status :accepted-->
  <%= f.url_field :ticket_link, class: 'form-control', placeholder: "http://" %><br>


    <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
 <% end %>


 <!--
  <if status :pending, should say requested date
 t.datetime "date"
  <if status :accepted>
 t.string   "ticket_link"
 t.integer  "status",
 t.integer  "category_id"

-->
