<h3>Edit your event</h3>
<%= form_for [@event] do |f| %>

  <%= f.label :Selected_host_info_and_avatar_here %><br><br>

  <%= f.label :Event_category %>
  <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Select a category"}, {class: "form-control"}%><br>

  <%= f.label :date %>
  <%= f.date_field :date, class: 'form-control' %><br>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: "Enter event title" %><br>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter event description" %><br>

  <%= f.label :ticket_link %>  <!--if status :accepted-->
  <%= f.url_field :ticket_link, class: 'form-control', placeholder: "http://" %><br>



    <div class="form-group">
         <%= f.submit "Update", class: 'btn btn-success' %>
    </div>
 <% end %>
