
<div class="col-xs-6">
  <h1>Events</h1>
<% if @events.any? %>
  <% if @categories.count > 50 %>
    <% @categories.last(50).each do |category| %>
      <%= link_to category.name, events_path(category: category.name), {class: "label label-default"}%>
    <%end%>
      <%= link_to "See all categories", categories_path, {class: "label label-warning"}%>
  <%else%>
    <% @categories.each do |category| %>
      <%= link_to category.name, events_path(category: category.name), {class: "label label-default"}%>
    <%end%>
  <%end%>
<%end%>
  <br><br>
  <%= link_to "Create new event", new_event_path, class: 'btn btn-success' %>
  </div>
  <div class="col-xs-6">




<% @events.each do |event|%>
  <h4><%= link_to event.title, event %></h4>
  <%= event.date.to_datetime.strftime('%a %b %d %Y') %> &nbsp <p class="label label-default"><%= event.category.name%></p><br><br>
  <%= raw truncate(event.description, :length => 100 ) %>
<%end%>
<br><br>


</div>
