
<%= form_for [@category] do |f| %>
  <div class="col-xs-4">
    <%= f.label :Category_name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Category name", autofocus: true %><br>
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to "Cancel", new_event_path, class: 'btn btn-warning' %>
  </div>

<% end %>
