<!DOCTYPE html>
<html>
<head>
  <title>House Show</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Find Events"%></li> <!-- index of all Accepted/Published events -->
      <% if user_signed_in? %>
        <li><%= link_to "My Profile", users_profile_path %></li>
        <li><%= link_to "My Events"%></li> <!-- events that belong to Users -->
        <!-- define user role and Link to either: Find Host or Find Artist -->
      <% end %>

      <div class="pull-right icon">
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar.url(:micro), class:"img-circle"%>
      </div>
        <div class="pull-right icon">
          <strong><%= link_to current_user.first_name, users_profile_path %></strong>
             <li class ="micro-nav">  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
        </div>
    </ul>
    </br>
    
      <div class="flash">
        <% if flash.now[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash.now[:alert] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:alert] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>

<%= yield %>
  </div>

</body>
</html>
